/bitrix/*
/.osp/
/upload/
/.htaccess
/local/php_interface/
/docker-compose.yml
/instruction.txt
/nginx/
/php/
/www/
/include/
.*
!.gitignore
!.default
!.parameters.php
/robots.txt
/sitemap.xml
*sitemap*
*.log