.last-blog {
  & .last-blog__head {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2 {}
  }

  & .last-news__items {
    display: flex;
    gap: 20px;

    & .last-news__item {
      max-width: 593px;
      width: 100%;
      height: 663px;

      & a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 20px;
        border: 1px solid #D3D3D2;
        overflow: hidden;
        padding: 40px;

        & .last-news__item-image {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;


          & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        & .gradient {
          background: linear-gradient(180deg, rgba(36, 34, 32, 0.00) 0%, #242220 100%);
          position: absolute;
          width: 100%;
          height: 60%;
          left: 0;
          bottom: 0;
          z-index: 2;
        }

        & .last-news__item-name {
          position: relative;
          z-index: 3;
          color: #FFF;
          font-size: 35px;
          font-style: normal;
          font-weight: 400;
          line-height: 90%;
          margin-bottom: 1px;
          max-width: 344px;
          margin-bottom: 19px;
          /* 31.5px */
        }

        & .last-news__item-description {
          position: relative;
          z-index: 3;
          overflow: hidden;
          color: #FFF;
          text-overflow: ellipsis;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
          max-width: 344px;
          /* 18px */
        }

        & .last-news__item-arrow {
          position: absolute;
          right: 40px;
          bottom: 40px;
          padding: 10px;
          border-radius: 110px;
          background: #FF7400;
          backdrop-filter: blur(17px);
          width: 54px;
          height: 54px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 3;
        }
      }
    }
  }
}