.catalog-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @media(max-width: 1700px) {
    grid-template-columns: repeat(3, 1fr);
  }

  & .catalog-item {
    padding: 11px 10px 30px;
    border-radius: 20px;
    border: 1px solid rgba(36, 34, 32, 0.20);
    transition: all .3s ease-in;
    position: relative;
    overflow: hidden;

    & .blur {
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 10px;
      background: linear-gradient(180deg, rgba(232, 232, 230, 0.00) 0%, #E8E8E6 61.43%);
      width: 100%;
      height: 50%;
      z-index: 2;
    }

    &:nth-child(10n+1) {
      @media(max-width: 1700px) {
        order: 1;
      }
    }

    &:nth-child(10n+2) {
      @media(max-width: 1700px) {
        order: 3;
      }
    }

    &:nth-child(10n+3) {
      grid-column-end: span 2;
      padding: 30px;

      @media(max-width: 1700px) {
        order: 2;
      }

      & a {
        aspect-ratio: 1.43 / 1;
        justify-content: flex-end;

        & .catalog-item__image {

          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;

          & .catalog-item__tag {
            display: none;
          }
        }

        & .catalog-item__body {
          position: relative;
          z-index: 3;
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
          align-items: flex-start;
          gap: 20px;

          & .catalog-item__prices {
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 0;
            position: absolute;
            bottom: -33px;

            & .catalog-item__price {
              margin-bottom: 27px;
              margin-right: 0;
              order: 2;
              color: #242220;
              font-size: 40px;
              font-style: normal;
              font-weight: 400;
              line-height: 90%;
              /* 36px */
            }

            & .catalog-item__old-price {
              margin-bottom: 20px;
              order: 1;
            }

            & .catalog-item__sale {
              order: 3;
            }
          }

          & .catalog-item__info {
            width: 100%;

            & .catalog-item__name {
              color: #242220;
              font-size: 40px;
              font-style: normal;
              font-weight: 700;
              line-height: 90%;
              margin-bottom: 16px;
              max-width: 513px;
              /* 36px */
            }

            & .catalog-item__location {
              color: rgba(36, 34, 32, 0.40);
              font-size: 25px;
              font-style: normal;
              font-weight: 400;
              line-height: 100%;
              /* 25px */
            }
          }
        }

        & .catalog-item__filters {
          position: relative;
          z-index: 3;
        }
      }
    }

    &:nth-child(10n+4) {
      @media(max-width: 1700px) {
        order: 4;
      }
    }

    &:nth-child(10n+5) {
      @media(max-width: 1700px) {
        order: 5;
      }
    }

    &:nth-child(10n+6) {
      @media(max-width: 1700px) {
        order: 6;
      }
    }

    &:nth-child(10n+7) {
      @media(max-width: 1700px) {
        order: 7;
      }
    }

    &:nth-child(10n+8) {
      grid-column-end: span 2;
      padding: 30px;

      @media(max-width: 1700px) {
        order: 9;
      }

      & a {
        aspect-ratio: 1.43 / 1;
        justify-content: flex-end;

        & .catalog-item__image {

          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;

          & .catalog-item__tag {
            display: none;
          }
        }

        & .catalog-item__body {
          position: relative;
          z-index: 3;
          display: flex;
          justify-content: space-between;
          flex-direction: row-reverse;
          align-items: flex-start;
          gap: 20px;

          & .catalog-item__prices {
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 0;
            position: absolute;
            bottom: -33px;

            & .catalog-item__price {
              margin-bottom: 27px;
              margin-right: 0;
              order: 2;
              color: #242220;
              font-size: 40px;
              font-style: normal;
              font-weight: 400;
              line-height: 90%;
              /* 36px */
            }

            & .catalog-item__old-price {
              margin-bottom: 20px;
              order: 1;
            }

            & .catalog-item__sale {
              order: 3;
            }
          }

          & .catalog-item__info {
            width: 100%;

            & .catalog-item__name {
              color: #242220;
              font-size: 40px;
              font-style: normal;
              font-weight: 700;
              line-height: 90%;
              margin-bottom: 16px;
              max-width: 513px;
              /* 36px */
            }

            & .catalog-item__location {
              color: rgba(36, 34, 32, 0.40);
              font-size: 25px;
              font-style: normal;
              font-weight: 400;
              line-height: 100%;
              /* 25px */
            }
          }
        }

        & .catalog-item__filters {
          position: relative;
          z-index: 3;
        }
      }
    }

    &:nth-child(10n+9) {
      @media(max-width: 1700px) {
        order: 8;
      }
    }

    &:nth-child(10n+10) {
      @media(max-width: 1700px) {
        order: 10;
      }
    }

    &:hover {
      transition: all .3s ease-in;
      background-color: #FFF;
      box-shadow: 10px 14px 54px 0 rgba(0, 0, 0, 0.13);
    }

    & a {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;

      & .catalog-item__image {
        width: 100%;
        aspect-ratio: 1.155 / 1;
        border-radius: 11px;
        overflow: hidden;
        margin-bottom: 24px;
        position: relative;

        & img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        & .catalog-item__tag {
          position: absolute;
          top: 20px;
          left: 20px;
          color: #FFF;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          padding: 4px 17px;
          border-radius: 30px;
          background: #FF7400;
        }
      }

      & .catalog-item__body {
        & .catalog-item__prices {
          display: flex;
          align-items: center;
          margin-bottom: 16px;

          & .catalog-item__price {
            color: #242220;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: 0.56px;
            text-transform: uppercase;
            margin-right: 15px;
          }

          & .catalog-item__old-price {
            color: #78747A;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: var(--accent-color);
              left: 0;
              top: 6px;
              transform: rotate(175deg);
            }
          }

          & .catalog-item__sale {
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 900;
            line-height: 100%;
            border-radius: 100px;
            background: #FF7400;
            padding: 8px 10px;
            margin-left: auto;
            /* 16px */
          }
        }

        & .catalog-item__info {
          margin-bottom: 16px;

          & .catalog-item__name {
            color: #242220;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            margin-bottom: 6px;
          }

          & .catalog-item__location {
            color: #7C8589;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;

          }
        }
      }

      & .catalog-item__filters {
        display: flex;
        gap: 4px;
        flex-wrap: wrap;

        & .catalog-item__filter {
          border-radius: 30px;
          background-color: #FFF;
          color: #242220;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          padding: 4px 17px;
          /* 155.556% */
        }
      }
    }
  }

  &.simple-catalog {
    & .catalog-item {
      padding: 11px 10px 30px;
      border-radius: 20px;
      border: 1px solid rgba(36, 34, 32, 0.20);
      transition: all .3s ease-in;
      position: relative;
      overflow: hidden;

      & .blur {
        display: none;
      }

      &:nth-child(10n+1) {
        @media(max-width: 1700px) {
          order: 1;
        }
      }

      &:nth-child(10n+2) {
        @media(max-width: 1700px) {
          order: 2;
        }
      }

      &:nth-child(10n+3) {
        grid-column-end: span 1;
        padding: 11px 10px 30px;

        @media(max-width: 1700px) {
          order: 3;
        }

        & a {
          display: flex;
          width: 100%;
          height: 100%;
          flex-direction: column;

          & .catalog-item__image {
            width: 100%;
            aspect-ratio: 1.155 / 1;
            border-radius: 11px;
            overflow: hidden;
            margin-bottom: 24px;
            position: relative;

            & img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }

            & .catalog-item__tag {
              position: absolute;
              top: 20px;
              left: 20px;
              color: #FFF;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              padding: 4px 17px;
              border-radius: 30px;
              background: #FF7400;
            }
          }

          & .catalog-item__body {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;

            & .catalog-item__prices {
              display: flex;
              align-items: center;
              margin-bottom: 16px;
              position: relative;
              bottom: 0;
              flex-direction: row;
              width: 100%;

              & .catalog-item__price {
                color: #242220;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px;
                letter-spacing: 0.56px;
                text-transform: uppercase;
                margin-right: 15px;
                margin-bottom: 0;
                order: 1;
              }

              & .catalog-item__old-price {
                color: #78747A;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                position: relative;
                margin-bottom: 0;
                order: 2;

                &::before {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  background-color: var(--accent-color);
                  left: 0;
                  top: 6px;
                  transform: rotate(175deg);
                }
              }

              & .catalog-item__sale {
                color: #FFF;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 900;
                line-height: 100%;
                border-radius: 100px;
                background: #FF7400;
                padding: 8px 10px;
                margin-left: auto;
                order: 3;
                /* 16px */
              }
            }

            & .catalog-item__info {
              margin-bottom: 16px;

              & .catalog-item__name {
                color: #242220;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                margin-bottom: 6px;
              }

              & .catalog-item__location {
                color: #7C8589;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;

              }
            }
          }

          & .catalog-item__filters {
            display: flex;
            gap: 4px;
            flex-wrap: wrap;

            & .catalog-item__filter {
              border-radius: 30px;
              background-color: #FFF;
              color: #242220;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              padding: 4px 17px;
              /* 155.556% */
            }
          }
        }
      }

      &:nth-child(10n+4) {
        @media(max-width: 1700px) {
          order: 4;
        }
      }

      &:nth-child(10n+5) {
        @media(max-width: 1700px) {
          order: 5;
        }
      }

      &:nth-child(10n+6) {
        @media(max-width: 1700px) {
          order: 6;
        }
      }

      &:nth-child(10n+7) {
        @media(max-width: 1700px) {
          order: 7;
        }
      }

      &:nth-child(10n+8) {
        grid-column-end: span 1;
        padding: 11px 10px 30px;

        @media(max-width: 1700px) {
          order: 8;
        }

        & a {
          display: flex;
          width: 100%;
          height: 100%;
          flex-direction: column;

          & .catalog-item__image {
            width: 100%;
            aspect-ratio: 1.155 / 1;
            border-radius: 11px;
            overflow: hidden;
            margin-bottom: 24px;
            position: relative;

            & img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }

            & .catalog-item__tag {
              position: absolute;
              top: 20px;
              left: 20px;
              color: #FFF;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              padding: 4px 17px;
              border-radius: 30px;
              background: #FF7400;
            }
          }

          & .catalog-item__body {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;

            & .catalog-item__prices {
              display: flex;
              align-items: center;
              margin-bottom: 16px;
              position: relative;
              bottom: 0;
              flex-direction: row;
              width: 100%;

              & .catalog-item__price {
                color: #242220;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px;
                letter-spacing: 0.56px;
                text-transform: uppercase;
                margin-right: 15px;
                margin-bottom: 0;
                order: 1;
              }

              & .catalog-item__old-price {
                color: #78747A;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                position: relative;
                margin-bottom: 0;
                order: 2;

                &::before {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  background-color: var(--accent-color);
                  left: 0;
                  top: 6px;
                  transform: rotate(175deg);
                }
              }

              & .catalog-item__sale {
                color: #FFF;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 900;
                line-height: 100%;
                border-radius: 100px;
                background: #FF7400;
                padding: 8px 10px;
                margin-left: auto;
                order: 3;
                /* 16px */
              }
            }

            & .catalog-item__info {
              margin-bottom: 16px;

              & .catalog-item__name {
                color: #242220;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                margin-bottom: 6px;
              }

              & .catalog-item__location {
                color: #7C8589;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;

              }
            }
          }

          & .catalog-item__filters {
            display: flex;
            gap: 4px;
            flex-wrap: wrap;

            & .catalog-item__filter {
              border-radius: 30px;
              background-color: #FFF;
              color: #242220;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              padding: 4px 17px;
              /* 155.556% */
            }
          }
        }
      }

      &:nth-child(10n+9) {
        @media(max-width: 1700px) {
          order: 9;
        }
      }

      &:nth-child(10n+10) {
        @media(max-width: 1700px) {
          order: 10;
        }
      }

      &:hover {
        transition: all .3s ease-in;
        background-color: #FFF;
        box-shadow: 10px 14px 54px 0 rgba(0, 0, 0, 0.13);
      }

      & a {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;

        & .catalog-item__image {
          width: 100%;
          aspect-ratio: 1.155 / 1;
          border-radius: 11px;
          overflow: hidden;
          margin-bottom: 24px;
          position: relative;

          & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }

          & .catalog-item__tag {
            position: absolute;
            top: 20px;
            left: 20px;
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            padding: 4px 17px;
            border-radius: 30px;
            background: #FF7400;
          }
        }

        & .catalog-item__body {
          & .catalog-item__prices {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            & .catalog-item__price {
              color: #242220;
              font-size: 28px;
              font-style: normal;
              font-weight: 500;
              line-height: 36px;
              letter-spacing: 0.56px;
              text-transform: uppercase;
              margin-right: 15px;
            }

            & .catalog-item__old-price {
              color: #78747A;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px;
              position: relative;

              &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: var(--accent-color);
                left: 0;
                top: 6px;
                transform: rotate(175deg);
              }
            }

            & .catalog-item__sale {
              color: #FFF;
              text-align: center;
              font-size: 16px;
              font-style: normal;
              font-weight: 900;
              line-height: 100%;
              border-radius: 100px;
              background: #FF7400;
              padding: 8px 10px;
              margin-left: auto;
              /* 16px */
            }
          }

          & .catalog-item__info {
            margin-bottom: 16px;

            & .catalog-item__name {
              color: #242220;
              font-size: 22px;
              font-style: normal;
              font-weight: 500;
              line-height: 28px;
              margin-bottom: 6px;
            }

            & .catalog-item__location {
              color: #7C8589;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;

            }
          }
        }

        & .catalog-item__filters {
          display: flex;
          gap: 4px;
          flex-wrap: wrap;

          & .catalog-item__filter {
            border-radius: 30px;
            background-color: #FFF;
            color: #242220;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            padding: 4px 17px;
            /* 155.556% */
          }
        }
      }
    }
  }

  &.light {
    & .catalog-item {
      &:nth-child(10n+1) {
        @media(max-width: 1700px) {
          order: 1;
        }
      }

      &:nth-child(10n+2) {
        @media(max-width: 1700px) {
          order: 2;
        }
      }

      &:nth-child(10n+3) {
        grid-column-end: span 1;
        padding: 11px 10px 30px;

        @media(max-width: 1700px) {
          order: 3;
        }

        & a {

          & .catalog-item__body {


            & .catalog-item__prices {

              & .catalog-item__price {
                color: #fff;
              }

              & .catalog-item__old-price {
                color: #fff;
              }

              & .catalog-item__sale {
                color: #FFF;
              }
            }

            & .catalog-item__info {

              & .catalog-item__name {
                color: #fff;
              }

              & .catalog-item__location {
                color: #fff;

              }
            }
          }

        }
      }

      &:nth-child(10n+4) {
        @media(max-width: 1700px) {
          order: 4;
        }
      }

      &:nth-child(10n+5) {
        @media(max-width: 1700px) {
          order: 5;
        }
      }

      &:nth-child(10n+6) {
        @media(max-width: 1700px) {
          order: 6;
        }
      }

      &:nth-child(10n+7) {
        @media(max-width: 1700px) {
          order: 7;
        }
      }

      &:nth-child(10n+8) {
        grid-column-end: span 1;
        padding: 11px 10px 30px;

        @media(max-width: 1700px) {
          order: 8;
        }

        & a {

          & .catalog-item__body {


            & .catalog-item__prices {

              & .catalog-item__price {
                color: #fff;
              }

              & .catalog-item__old-price {
                color: #fff;
              }

              & .catalog-item__sale {
                color: #FFF;
              }
            }

            & .catalog-item__info {

              & .catalog-item__name {
                color: #fff;
              }

              & .catalog-item__location {
                color: #fff;

              }
            }
          }

        }
      }

      &:nth-child(10n+9) {
        @media(max-width: 1700px) {
          order: 9;
        }
      }

      &:nth-child(10n+10) {
        @media(max-width: 1700px) {
          order: 10;
        }
      }

      & a {
        & .catalog-item__image {

          & .catalog-item__tag {}
        }

        & .catalog-item__body {
          & .catalog-item__prices {


            & .catalog-item__price {
              color: #fff;
            }

            & .catalog-item__old-price {
              color: #fff;
            }

            & .catalog-item__sale {
              color: #FFF;
            }
          }

          & .catalog-item__info {

            & .catalog-item__name {
              color: #fff;
            }

            & .catalog-item__location {
              color: #fff;

            }
          }
        }

        & .catalog-item__filters {

          & .catalog-item__filter {}
        }
      }

      &:hover {
        & a {
          & .catalog-item__image {

            & .catalog-item__tag {}
          }

          & .catalog-item__body {
            & .catalog-item__prices {


              & .catalog-item__price {
                color: #242220;
              }

              & .catalog-item__old-price {
                color: #242220;
              }

              & .catalog-item__sale {
                color: #fff;
              }
            }

            & .catalog-item__info {

              & .catalog-item__name {
                color: #242220;
              }

              & .catalog-item__location {
                color: #242220;

              }
            }
          }

          & .catalog-item__filters {

            & .catalog-item__filter {}
          }
        }
      }

    }
  }
}

.catalog-navigation {
  display: flex;
  gap: 8px;
  margin-top: 85px;
  justify-content: space-between;

  .pagintaion-arrow {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & nav {
    display: flex;
    gap: 8px;
  }

  & .pagination {
    display: flex;
    gap: 8px;

    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 58px;
      height: 58px;
      color: #242220;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      border-radius: 50%;

      &.current {
        pointer-events: none;
        background-color: #fff;
        box-shadow: 10px 14px 54px 0 rgba(0, 0, 0, 0.13);

      }

      /* 122.222% */
    }
  }

  & .more-items {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 20px 30px;
    border-radius: 110px;
    background: #242220;
    backdrop-filter: blur(17px);

  }
}