.best {

  & .best-inner {
    padding: 112px 30px 32px 30px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    @media(max-width: 992px) {
      padding: 10px;
    }

    & .best-image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    & .best-head {
      display: flex;
      align-items: flex-end;
      margin-bottom: 80px;
      position: relative;

      @media(Max-width: 992px) {
        padding-top: 42px;
        margin-bottom: 34px;
      }

      @media(max-width: 1150px) {
        flex-direction: column;
        align-items: flex-start;

        & .link-to {
          margin-left: 0;
          margin-top: 26px;

          @media(max-width: 992px) {
            padding: 10px;
            height: 32px;
            max-width: 115px;
            gap: 3px;

            & span {
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
            }

            & svg {
              width: 15px;
              height: 15px;
              min-width: 15px;
            }
          }
        }
      }

      &>svg {
        position: relative;
        z-index: 2;

        @media(Max-width: 1150px) {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-100%);
        }

        @media(Max-width: 992px) {
          max-width: 30%;
          transform: translate(-20%, -70%);
        }
      }

      & h2 {
        color: #fff;
        margin-right: 10px;
        position: relative;
        z-index: 2;

        & span {
          color: rgba(255, 255, 255, 0.60);
        }
      }

    }
  }
}